body {
    background-color: black;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ff0a0a;
}

.blz {
    box-shadow: 0px 0px 10px blue, 0px 0px 10px blue inset;
    border: 2px solid blue;
}
