body {
    background-color: black;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ff0a0a;
}

.blz {
    border: 10px;
    border-color: blue;
    box-shadow: 0px 0px 10px blue, 0px 0px 10px blue inset;

}
